/**
 * @name CustomMentionColor
 * @description Allows you to add a custom mention color to each person or just a new default
 * @author Crystalmaker
 * @version 1.0.0
*/
:root {
    --defaultmentioncolor:     38 95.7% 54.1%;
    --personscolor:            214 100% 59.6%;
    /*
    INSTRUCTIONS
	GET THE ThemeAttributes PLUGIN. THIS THEME WILL NOT WORK WITHOUT IT
    Define new colors above, formatted like so.
    --nameofvar: hue saturation lightness;
    ALL COLORS MUST BE IN HSL.
    There needs to be a new variable per person if you want a new color per person.
    As for applying that color, go to the "COLOR PER PERSON" section and enter their username where it says username in quotes. 
    LEAVE THE QUOTATION MARKS. Enter the name of your variable where it says "personscolor", replace all instances of "personscolor" and "username". 
    To add a new color for another person, copy the code and replace the old information with the new information
    */
}


/*                    DEFAULT COLOR                  */

.mentioned__5126c {
    background: color-mix(in oklab,hsl(var(--defaultmentioncolor)/0.0784313725490196) 100%,hsl(var(--custom-theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--custom-theme-base-color-amount,0%));
}

.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover  {
    background: color-mix(in oklab,hsl(var(--defaultmentioncolor)/0.0392156862745098) 100%,hsl(var(--custom-theme-base-color-hsl,0 0% 0%)/0.0392156862745098) var(--custom-theme-base-color-amount,0%));
}

.mentioned__5126c:before {
	background: var(--defaultmentioncolor);
}

/*                 COLOR PER PERSON                 */

[data-author-username="username"] .mentioned__5126c {
    background: color-mix(in oklab,hsl(var(--personscolor)/0.0784313725490196) 100%,hsl(var(--custom-theme-base-color-hsl,0 0% 0%)/0.0784313725490196) var(--custom-theme-base-color-amount,0%));
}

.mouse-mode.full-motion [data-author-username="username"] .message__5126c.mentioned__5126c:hover  {
    background: color-mix(in oklab,hsl(var(--personscolor)/0.0392156862745098) 100%,hsl(var(--custom-theme-base-color-hsl,0 0% 0%)/0.0392156862745098) var(--custom-theme-base-color-amount,0%));
}

[data-author-username="username"] .mentioned__5126c:before {
	background: var(--personscolor);
}


